
Used to see results for specific survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Surveys</h1>
        </hr>
        <a href="{% url 'createSurvey' %}"><button>Create Survey</button></a>
        <table border="1">
            <tr>
                <th>Survey Name</th>
                <th>Survey Decription</th>
                <th>Survey State</th>
                <th>Date Created</th>
            </tr>
        </table>
    </center>
</body>
</html>