<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Login/Register Page{% endblock %}</title>
    {% block header %}
    {% endblock %}
</head>

<body>
  <main>
    <nav>
        {% if user.is_authenticated %}
            <span class="greeting">Welcome {{ user.username }} , this is your main inventory view ^-^ </span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log me Out!</button>
            </form>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  
  </main>
  {% block script %}
  {% endblock %}

</body>

</html>